<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8">
    <title>Wizkids Canteen Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
    <!-- Bulma Version 0.8.0-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.css"/>

    <!-- For the calender -->
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
    <link href="https://cdn.syncfusion.com/ej2/material.css" rel="stylesheet">

</head>
<body>
<form method="post" th:action="@{'/createnewuser'}">
    <div class="columns is-mobile is-centered" style="padding-top: 5rem">
        <article class="tile is-4 box">
            <div class="container">
                <div class="field">
                    <label class="label">Fornavn</label>
                    <div class="control">
                        <label>
                            <input class="input is-halfwidth" type="text" name="firstName" placeholder="Fornavn">
                        </label>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Efternavn</label>
                    <div class="control">
                        <label>
                            <input class="input" type="text" name="lastName" placeholder="Efternavn">
                        </label>
                    </div>
                </div>


                <div class="field">
                    <label class="label" for="exampleInputEmail1">E-mail</label>
                    <div>
                        <label>
                            <input type="email" name="username" class="input" id="exampleInputEmail1"
                                   placeholder="examle@gmail.com">
                        </label>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Adgangskode</label>
                    <div class="control">
                        <label>
                            <input class="input" type="password" name="password" placeholder="Adgangskode">
                        </label>
                    </div>
                </div>

                <div class=" column is-vcentered">
                    <div class="dropdown is-not-active">
                        <div class="dropdown-trigger">
                            <label>
                                <select class="button" name="Gender">
                                    <option class="dropdown-item" value="MALE">Mand</option>
                                    <option class="dropdown-item" value="FEMALE">Dame</option>
                                    <option class="dropdown-item" value="OTHER">Andet</option>
                                </select>
                            </label>
                        </div>
                    </div>

                    <div class="dropdown is-not-active">
                        <div class="dropdown-trigger">
                            <label style="padding-left: 1rem">
                                <select class="button" name="role">
                                    <option class="dropdown-item" value="ROLE_USER">Wizkids</option>
                                    <option class="dropdown-item" value="ROLE_ADMIN">Kantine</option>
                                </select>
                            </label>
                            <label style="padding-left: 1rem" for="datepicker">
                                <input id="datepicker" name="dateOfBirth" type="text">
                            </label>
                        </div>
                    </div>
                </div>
                <div style="padding-top: 0.75rem" class="box radius-small is-small has-text-centered">
                    <input class="button is-link is-rounded" type="submit" value="Opret bruger">
                </div>
            </div>
        </article>
    </div>

</form>

<script>
    var datepicker = new ej.calendars.DatePicker({width: "120px"});
    datepicker.appendTo('#datepicker');
</script>

</body>
</html>